<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Estudiantes</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <h1>Registro de Estudiantes</h1>
    <form action="/estudiantes" method="POST">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="edad">Edad: </label>
        <input type="number" id="edad" name="edad" required>
        <label for="curso">Curso: </label>
        <input type="text" id="curso" name="curso" required>
        <button type="submit" >Registrar Estudiante</button>
    </form>

    <ul>
        <% estudiantes.forEach(function(estudiante) { %>
            <li>
                <strong><%= estudiante.nombre %></strong> (Edad: <%= estudiante.edad %>, Curso: <%= estudiante.curso %>)
                <span>
                    <a href="/estudiantes/edit/<%= estudiante.id %>">Editar</a>
                    <a href="/estudiantes/delete/<%= estudiante.id %>">Eliminar</a>
                </span>
            </li>
        <% }); %>
    </ul>
    
    
</body>
</html>